<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @person.name %>
</p>
<table class="schedule">
  <% last_day_idx = Time.at(0).at_end_of_year %>
  <% @days.each do |day| %>
    <% if last_day_idx.strftime("%Y").to_i != day.get_date.strftime("%Y").to_i %>
    </table>
    <div class="schedule_day"><%= day.get_date.strftime("%Y") %></div>
    <table class="schedule">
    <% end %>
    <% if last_day_idx.strftime("%U").to_i != day.get_date.strftime("%U").to_i %>
    </table>
    <div class="schedule_day"><td>Week of <%= day.get_date.to_formatted_s(:long_ordinal) %></div>
    <table class="schedule">
    <% end %>

    
    

      <tr>
        <td class="name" colspan=3><%= day.get_date.strftime("%a") %></td>
        <% (0..47).each do |idx| %>
          
          <td class="<%= get_class(idx, day) %>"></td>
        <% end %>
      </tr>
      <% last_day_idx = day.get_date %>
    <% end %>
  </table>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
