<h1>Listing shifts</h1>

<div id="edit_raw_shifts">
Edit Shift Entries
</div>

<div id="raw_shifts">
<table>
<thead>
<tr>
<th>Start</th>
<th>End</th>
<th>Person</th>
<th>Loc</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @shifts.each do |shift| %>
  <tr>
  <td><%= shift.start %></td>
  <td><%= shift.finish %></td>
  <td><%= shift.person.name %></td>
  <td><%= shift.location %></td>
  <td><%= link_to 'Show', shift %></td>
  <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
  <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>


<!--
  Shift table. 

  Shift times shift left when the shift ends on the next day and end times shift right when shifts
begin on the previous day
-->
<% @days.each do |day| %>
  <div id="d<%= day.first.id %>" onclick='toggle_day(<%= day.first.id %>)' class="schedule_day">
    <%= day.get_date.to_formatted_s(:long_ordinal) %>
  </div>
  <div id="t<%= day.first.id %>" class="day_table">
  <table class="schedule">
  <% day.each do |shift| %>
    <% unless ["SDTC", "FADC", "LWDC"].include?(shift.shiftmod) %>
    <tr class="schedule_row <%= shift.person.name %>">
      <!--
        Name

      -->
      <td class="schedule_name" colspan=3><%= link_to shift.person.name, shift.person %></td>
      <!--
        Shifts

      -->
      <% (0..47).each do |block| %>
        <td class="
        <% if shift.time_in_shift?(day.get_date + (30 * block + 15).minutes) %>
          <%= shift.location + " " + (["VAC", "PER", "SIK", "SICK"].include?(shift.shiftmod) ?  "inactive" : "") %>
        <% else %>
          schedule_off
        <% end %>
        "></td>
      <% end %>

    </tr>
  <% end %>
  <% end %>
</table>
</div>
<% end %>

<div id="menu"><div id="menu_text" onclick="show_all_names()">Menu</div>
<div id="menu_drop">
  <table>
    <% @names.each do |person| %>
      <tr onclick='toggle_names("<%= person.name %>")'><td>
        <%= person.name %>
      </td></tr>
    <% end %>
  </table>
</div>
</div>

