<h1>Listing shifts</h1>

<div id="edit_raw_shifts">
Edit Shift Entries
</div>

<div id="raw_shifts">
<table>
<thead>
<tr>
<th>Start</th>
<th>End</th>
<th>Person</th>
<th>Loc</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @shifts.each do |shift| %>
  <tr>
  <td><%= shift.start %></td>
  <td><%= shift.finish %></td>
  <td><%= shift.person.name %></td>
  <td><%= shift.location %></td>
  <td><%= link_to 'Show', shift %></td>
  <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
  <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>


<!--
  Shift table. 

  Shift times shift left when the shift ends on the next day and end times shift right when shifts
begin on the previous day
-->
<% @days.each do |day| %>
  <div id="d<%= day.first[0].id %>" onclick='toggle_day(<%= day.first[0].id %>)' class="schedule_day">
    <%= day.first[0].finish.at_beginning_of_day.to_formatted_s(:long_ordinal) %>
  </div>
  <div id="t<%= day.first[0].id %>" class="day_table">
  <table class="schedule">
  <% day.each do |shift| %>
    <tr class="schedule_row <%= shift[0].person.name %>">
      <!--
        Name

      -->
      <td class="schedule_name" colspan=3><%= link_to shift[0].person.name, shift[0].person %></td>
      <!--
        pre-shift bar

      -->
      <% unless shift[1] == 0 %>
        <td class="schedule_off" colspan=<%= shift[1] %>>
          <% if shift[3] == 0 %>
            <div align="right">
              <%= '%02d' % shift[0].start.hour + '%02d' % shift[0].start.min %>
            </div>
          <% end %>
        </td>
      <% end %>
      <!--
        Shift bar

      -->
      <td class="<%= shift[0].location %>" colspan=<%= shift[2] %>>
        <% if shift[3] != 0 %>
          <div style="float: left" align="left" width="0%">
            <%= '%02d' % shift[0].start.hour + '%02d' % shift[0].start.min.to_s %>
          </div>
        <% end %>
        <% if shift[1] != 0 %>
          <div style="" align="right" width="0%">
            <%= '%02d' % shift[0].finish.hour + '%02d' % shift[0].finish.min.to_s %>
          </div>
        <% end %>
      </td>
      <!--
      post-shift bar

      -->
      <% unless shift[3] == 0 %>
        <td class="schedule_off" colspan=<%= shift[3] %>>
          <% if shift[1] == 0 %>
            <div align=left%>
              <%= '%02d' % shift[0].finish.hour + '%02d' % shift[0].finish.min.to_s %>
            </div>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
<% end %>

<div id="menu"><div id="menu_text" onclick="show_all_names()">Menu</div>
<div id="menu_drop">
  <table>
    <% @names.each do |person| %>
      <tr onclick='toggle_names("<%= person.name %>")'><td>
        <%= person.name %>
      </td></tr>
    <% end %>
  </table>
</div>
</div>

